.home .hero img {
    width: 210px
}

.navbar img {
    margin: 0.1em 0.1em 0.1em 0.1em
}

img {
    margin: 0.5em 1.5% 0.5em
    height: "auto"
    display: "block"
}

.our-slogan {
    height: 13em;
    width: 18em;
}

.our-feature {
    width: 18em;
    height: 18em;
}

.gradient-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.gradient-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.gradient-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.gradient-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.about-us {
    line-height: 2 !important;
}

/* purgecss start ignore */
// @tailwind base;
// @tailwind components;
/* purgecss end ignore */
// @tailwind utilities;
